spotipy
discord
asyncio
websockets
aiosqlite
aiohttp
discord-py-slash-command
PyNaCl
discord_components
Pillow
googletrans
jishaku
wavelink
asyncpg
uvloop
expr.py
psutil
humanize
DiscordUtils
youtube_dl
pygount
qrcode
textdistance